footer {
    padding: 4em 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroundWhite);
    color: var(--textBlack);
}

.footerText {
    color: var(--textBlack);
    font-weight: 500;
    font-size: 1.25em;
}

.productList {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
}
li.productItem {
    margin-top: 1em;
    color: var(--textBlack);
    transition: .5s ease;
}
.companyList {
    display: flex;
    flex-direction: column;
}
li.companyItem {
    margin-top: 1em;
    color: var(--textBlack );
    transition: .5s ease;
}

.companyItem:hover,.productItem:hover {
    color: var(--pink100);
}

.additional {
    margin-top: 2em;
    color: var(--textBlack);
}
.vl {
    border-left: 2px solid var(--backgroundBlack);
    height: 220px;
}


.input {
    display: flex;
    flex-direction: column;
}

.input h3 {
    margin-bottom: 1em;
}

.formHead {
    margin-bottom: 1em;
}

.message {
    color: var(--textBlack);
    margin-bottom: .5em;
}

.emailInput, .messageInput {
    font-family: 'Poppins', sans-serif;
    padding: 1em;
    margin-bottom: .5em;
    border: 1px solid var(--textWhite);
    border-radius: 1em;
    color: var(--textBlack);
}

.submit {
    font-family: 'Poppins', sans-serif;
    color: var(--textWhite);
    background-color: var(--green200);
    padding: .5em;
    border: 1px solid var(--green300);
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
}

